html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
}
body {
  font-family: var(--font-inter), sans-serif;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
.heroHeadline {
  font-family: var(--font-merriweather), serif;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.4rem;
}
p {
  font-size: 1.3rem;
}
li {
  font-size: 1.3rem;
}
